<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmov.tp1.cafeteria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCafeteria">
        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OrdersActivity"
            android:parentActivityName=".activity.MainActivity"/>
        <activity android:name=".activity.OrderPageActivity"
            android:parentActivityName=".activity.OrdersActivity"/>
        <activity android:name=".activity.VouchersPageActivity"
            android:parentActivityName=".activity.OrderPageActivity"/>
        <activity android:name=".activity.ResultActivity"
            android:parentActivityName=".activity.MainActivity"/>
    </application>

</manifest>